body{
padding:0;
margin:0;
}

.nav-bar{
width:100%;
height:40px;
background-color:black;
color:#FFFFFF;
text-align:center;
display:flex;
justify-content:center;
align-items:center;
margin:0;
padding:0;
}
.nav-main{
display:flex;
justify-content:space-evenly;
align-items:center;
background-color:black;
color:#FFFFFFBF;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul a{
   display:inline-block;
   padding: 20px;
   color:#FFFFFFBF;
   text-decoration:none;
}

ul a:hover{
text-decoration: underline;

}  
.div-icons i{   
padding-left:30px;
color:#FFFFFF;
}
.nav-main h2 a{
text-decoration:none;
color:#FFFFFFBF;
}
.nav-main h2 a:active{
text-decoration:none;
color:#FFFFFFBF;
}
.nav-main h2 a:hover{
color:rgba(252, 254, 252,1);
}
.multi-grid{
height:80%;
width:100%;
display:flex;
justify-content:space-evenly;
flex-direction:row;
flex-wrap: wrap;
border:none;
margin-top:30px;
}
.grid{
height:380px;
width:380px;
background-size:cover;
background-repeat:no-repeat;
background-position:center;
background-color:#FFFFFF;
border:1px solid #FFFFFF;
margin-top:20px;
}
.imgs{
height:380px;
width:380px;
}
.div-md{
width:87%;
height:436px;
background-color:#FFFFFF;
border:none;
color:#121212BF;
padding:36px 55px;
display:flex;
flex-wrap: wrap;
justify-content:center;
align-items:center;
margin-top:30px;
margin-left:40px;
}

.div-img{
width:268px;
height:360px;
border:none;
background-size:cover;
background-position:center;
background-repeat: no-repeat;
}
.div-note{
width:563px;
height:361px;
background-color: #FFFFFF;
color:#121212BF;
}
.imgs1{
width:268px;
height:360px;
}
.div-note h2{
margin-left:100px;
margin-top:70px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:24px;
font-weight: 500;
width:291px;
height:33px;
color:#121212;
}
.div-note p{
margin-left:100px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:19.8px;
color:#121212B3;
margin-top:5px;
}
.div-note button {
margin-left:100px;
width:141px;
height:50px;
background-color:#121212;
}
.div-note button a{
color:#FFFFFF;
text-decoration:none;
font-size:19px;
}
.nav-foot{
height:470px;
width:100%;
background-color:#121212;
color:#FFFFFFB3;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display:flex;
flex-wrap:wrap;
justify-content: center;
align-items: center;
margin-top:20px;
}
.nav-foot h2{
font-weight:400;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#FFFFFF;
margin:20px;
height:23.4px;
width:836px;
}
.nav-foot p{
height:30.4px;
width:836px;
margin:10px;
}
.nav-foot a{
color:#FFFFFFB3;
text-decoration:underline;
text-align:center;
}
.nav-foot a:hover{
color:rgba(251, 254, 252,1);
}
.nav-foot img{
height:19.8px;
width:19.8px;
color:#FFFFFF;
border-radius:5px;
text-align:center;
}
.para{
text-align:center;
margin-top:5px;
margin-bottom:10px;
}
.nav-foot1{
background-color:#121212;
width:100%;
height:60px;
color:#FFFFFFB3;
display:flex;
flex-direction:row;
flex-wrap: wrap;
justify-content:space-evenly;
align-items:center;
margin-bottom:20px;
}
.nav-foot2{
width:100%;
height:60px;
}
.nav-foot2 ul{
display:inline-flex;
justify-content:space-evenly;
align-items:center

}
.nav-foot2 ul li a{
padding:0.8rem;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-foot2 ul li{
list-style-type:none;
}
.copyright_content a{
text-decoration:none;
color:#FFFFFFB3;
font-size:12.1px;
}
.copyright_content a:hover{
text-decoration:underline;
}
.login-head{
text-align:center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:40px;
font-weight:400;
}
.sign-in{
width:493px;
height:301.2px;
text-align: center;
margin-left:460px;
}
#email{
width:490.8px;
height:49.5px;
margin-top:10px;
}
#password{
width:490.8px;
height:49.5px;
margin-top:20px;
}

.btn{
width:132px;
height:49.5px;
margin-top:44px;
margin-bottom:16.5px;
padding-right:33px;
color:#FFFFFF;
font-size:16.5px;
background-color:#121212;
text-align:center;
font-size:16.5px;
padding:0px;
}
.btn a{
color:#FFFFFF;
text-decoration:none;  
}
.pass{
width:169.49px;
height:26.6px;
text-align:left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:15.4px;
color:#121212D9;
position:relative;
}
.pass a{
text-decoration:none;
color:#121212D9;
}

.pass a:hover{
text-decoration:underline;
color:#121212D9;
}
.div-create{
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:15.4px;
}
.div-create a{
text-decoration:none;
color:#121212D9;
text-align: center;
}

.div-create a:hover{
text-decoration:underline;
color:#121212D9;
}
.div-nav2{
height:350px;   
width:100%;
background-color: #121212;
margin-top:150px;
color:#FFFFFF;
text-align: center;
padding-top:10px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div-nav2 h2{
font-size:18px;
font-weight:600;
text-align:center;
}
.paras a {
color:#FFFFFFB3;
text-decoration:none;
font-size:17.6px;
text-align:center;
}
.paras a:hover{
text-decoration: underline;
color:rgba(252, 254, 251,1);
}
.imginsta{
height:20px;
width:20px;
border-radius:5px;
}